.head-section {
  height: 500px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.page-title {
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-links {
  height: 100%;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .title-links__item {
    height: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px;
    padding-left: 40px;
    padding-top: 5px; }
    .title-links__item:last-child {
      margin-bottom: 15px;
      margin-top: 4px; }

.date-filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 180px;
  width: 100%; }
  .date-filter__year-selector {
    height: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    position: relative; }
  .date-filter__month-selector {
    height: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }

.month-wrapper {
  width: 100%;
  height: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.year-selector__item {
  height: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  text-align: center;
  padding-top: 40px; }

.year-active {
  position: absolute;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  padding-top: 15px;
  width: 200px; }

.year-active + li {
  margin-left: 30%; }

.month-selector__link {
  position: relative;
  width: 100%;
  height: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-top: 6px; }

.month-selector__item {
  width: 87px;
  height: 33px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.building-plan-img {
  width: 100%;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.section-gallery {
  width: 100%;
  margin-bottom: 30px; }

.gallery-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 150px 0 170px; }

.title-wrap {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 50%; }

.gallery__head {
  height: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .gallery__head-title {
    padding-top: 40px;
    display: inline-block;
    height: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    left: -50%; }
  .gallery__head-diagramm {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    left: -webkit-calc(100% + 30px);
    left: calc(100% + 30px);
    padding-top: -webkit-calc(50% - 12px);
    padding-top: calc(50% - 12px);
    padding-left: 15px;
    top: 0; }

.gallery-description {
  width: 550px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 110px;
  text-align: center;
  padding-top: 10px; }

.gallery-collection {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .gallery-collection__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: -4px;
    padding: 0 20px 20px 0;
    width: 25%;
    display: inline-block; }

.section-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 205px; }
  .section-footer-wrapper {
    display: inline-block;
    width: 50%;
    margin: 0 -1px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .section-footer__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 20px;
    display: inline-block; }
    .section-footer__link--left {
      float: right; }
    .section-footer__link--right {
      float: left; }
