.head-section {
  height: 500px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.page-title {
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-links {
  height: 100%;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .title-links__item {
    height: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px;
    padding-left: 40px;
    padding-top: 5px; }
    .title-links__item:last-child {
      margin-bottom: 15px;
      margin-top: 4px; }

.date-filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 180px;
  width: 100%; }
  .date-filter__year-selector {
    height: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    position: relative; }
  .date-filter__month-selector {
    height: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }

.month-wrapper {
  width: 100%;
  height: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.year-selector__item {
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  text-align: center;
  padding-top: 40px; }

.year-active {
  position: absolute;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  padding-top: 15px;
  width: 200px; }

.year-active + li {
  margin-left: 30%; }

.month-selector__link {
  position: relative;
  width: 100%;
  height: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-top: 6px; }

.month-selector__item {
  width: 87px;
  height: 33px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.building-plan-img {
  width: 100%;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
