.head-section {
  height: 500px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.page-title {
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-links {
  height: 100%;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .title-links__item {
    height: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px;
    padding-left: 40px;
    padding-top: 5px; }
    .title-links__item:last-child {
      margin-bottom: 15px;
      margin-top: 4px; }

.date-filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 180px;
  width: 100%; }
  .date-filter__year-selector {
    height: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    position: relative; }
  .date-filter__month-selector {
    height: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }

.month-wrapper {
  width: 100%;
  height: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.year-selector__item {
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  text-align: center;
  padding-top: 40px; }

.year-active {
  position: absolute;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  padding-top: 15px;
  width: 200px; }

.year-active + li {
  margin-left: 30%; }

.month-selector__link {
  position: relative;
  width: 100%;
  height: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding-top: 6px; }

.month-selector__item {
  width: 87px;
  height: 33px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.building-plan-img {
  width: 100%;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.section-gallery {
  width: 100%;
  margin-bottom: 30px; }

.gallery-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 150px 0 170px; }

.title-w {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 50%; }

.gallery__head {
  height: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .gallery__head-title {
    padding-top: 40px;
    display: inline-block;
    height: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    left: -50%; }
  .gallery__head-diagramm {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    left: -webkit-calc(100% + 90px);
    left: calc(100% + 90px);
    padding-top: -webkit-calc(50% - 12px);
    padding-top: calc(50% - 12px);
    padding-left: 15px;
    top: 0; }

.gallery-description {
  width: 550px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 110px;
  text-align: center;
  padding-top: 10px; }

.gallery-collection {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .gallery-collection__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: -4px;
    padding: 0 20px 20px 0;
    width: 25%;
    display: inline-block; }

.section-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 205px; }
  .section-footer-wrapper {
    display: inline-block;
    width: 50%;
    margin: 0 -1px;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .section-footer__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px 20px;
    display: inline-block; }
    .section-footer__link--left {
      float: right; }
    .section-footer__link--right {
      float: left; }

.page-title {
  font: 19px 'PT Sans Caption', sans-serif;
  font-weight: bold;
  letter-spacing: .4em; }

.title-links--camera-view {
  background: url(../img/web_camera.svg) no-repeat; }

.title-links--build-queue {
  background: url(../img/construction_sequence.svg) no-repeat; }

.title-links {
  font: 15px 'PT Sans', sans-serif;
  letter-spacing: .1em; }

.date-filter__year-selector {
  font: 23px 'PT Sans Caption', sans-serif; }

.year-selector__item {
  cursor: pointer; }

.month-selector__link {
  background: white;
  z-index: 100;
  cursor: pointer; }

.month-selector__item {
  color: #4d4d4d;
  font: 15px 'PT Sans', sans-serif;
  position: relative;
  background: white;
  height: 37px; }
  .month-selector__item:nth-of-type(n+2):after {
    content: "";
    position: absolute;
    top: 11px;
    left: -44px;
    width: 87px;
    height: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #4d4d4d;
    border-bottom: 3px solid #EC3227;
    z-index: -100; }

.month-selector--notactive {
  text-decoration: line-through; }
  .month-selector--notactive:nth-of-type(n+2):after {
    border-bottom: 1px solid #4d4d4d;
    position: absolute;
    top: 10px; }

.month-selector--active > .month-selector__link {
  border: 1px solid red;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  z-index: 300; }
  .month-selector--active > .month-selector__link:before {
    position: absolute;
    left: 37px;
    top: 31px;
    content: "";
    display: inline-block;
    height: 0px;
    width: 0px;
    border-right: 5px solid transparent;
    border-top: 7px solid #ef5334;
    border-left: 5px solid transparent; }
  .month-selector--active > .month-selector__link:after {
    position: absolute;
    left: 37px;
    top: 29px;
    content: "";
    display: inline-block;
    height: 0px;
    width: 0px;
    border-right: 5px solid transparent;
    border-top: 7px solid white;
    border-left: 5px solid transparent; }

.month-wrapper {
  position: relative;
  z-index: 1000; }

.building-plan-img {
  background: url(../img/gen_plan.svg) no-repeat;
  background-size: 165px 120px;
  background-position: center; }

#year2015:checked ~ .date-filter__year-selector > .year2015 {
  width: 200px;
  height: 100%;
  font-size: 64px;
  position: absolute;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  padding-top: 0;
  -webkit-transition: .3s;
  transition: .3s; }

#year2015:checked ~ .date-filter__year-selector > .year2016 {
  position: absolute;
  left: -webkit-calc(50% + 100px);
  left: calc(50% + 100px);
  -webkit-transition: .3s;
  transition: .3s; }

#year2015:checked ~ .date-filter__year-selector > .year2017 {
  position: absolute;
  left: -webkit-calc(50% + 200px);
  left: calc(50% + 200px);
  -webkit-transition: .3s;
  transition: .3s; }

#year2016:checked ~ .date-filter__year-selector > .year2016 {
  width: 200px;
  height: 100%;
  font-size: 64px;
  position: absolute;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  padding-top: 0;
  -webkit-transition: .3s;
  transition: .3s; }

#year2016:checked ~ .date-filter__year-selector > .year2015 {
  position: absolute;
  left: -webkit-calc(50% - 200px);
  left: calc(50% - 200px);
  -webkit-transition: .3s;
  transition: .3s; }

#year2016:checked ~ .date-filter__year-selector > .year2017 {
  position: absolute;
  left: -webkit-calc(50% + 100px);
  left: calc(50% + 100px);
  -webkit-transition: .3s;
  transition: .3s; }

#year2017:checked ~ .date-filter__year-selector > .year2017 {
  width: 200px;
  height: 100%;
  font-size: 64px;
  position: absolute;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  padding-top: 0;
  -webkit-transition: .3s;
  transition: .3s; }

#year2017:checked ~ .date-filter__year-selector > .year2015 {
  position: absolute;
  left: -webkit-calc(50% - 300px);
  left: calc(50% - 300px);
  -webkit-transition: .3s;
  transition: .3s; }

#year2017:checked ~ .date-filter__year-selector > .year2016 {
  position: absolute;
  left: -webkit-calc(50% - 200px);
  left: calc(50% - 200px);
  -webkit-transition: .3s;
  transition: .3s; }

input {
  display: none; }

label {
  cursor: pointer; }

.gallery__head-title {
  font: 28px 'PT Sans Caption', "sans-serif";
  font-weight: bold; }

.gallery__head-diagramm {
  display: inline-block;
  font: 10px 'PT Sans Caption', "sans-serif";
  font-weight: normal;
  letter-spacing: .4em; }

.gallery-description {
  font: 15px 'PT Sans', 'sans-serif'; }

.gallery-video {
  position: relative; }

.gallery-video:after {
  content: "";
  background: rgba(30, 28, 27, 0.7) url(../../img/triangle.svg) no-repeat center;
  background-size: 25% 25%;
  position: absolute;
  height: 98%;
  width: 100%;
  top: 0;
  left: 0; }

.circle {
  display: inline-block;
  height: 62px;
  width: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -60px;
  overflow: hidden; }

.diagramm {
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 0px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 60px;
  width: 60px;
  background: grey; }
  .diagramm:after {
    content: "";
    display: inline-block;
    background: red;
    position: absolute;
    left: 30px;
    height: 62px;
    width: 31px;
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-animation: diagramm 5s linear infinite;
            animation: diagramm 5s linear infinite; }
  .diagramm:before {
    content: "";
    display: inline-block;
    background: red;
    position: absolute;
    left: -1px;
    height: 62px;
    width: 32px; }

.diagramm-inset {
  position: absolute;
  top: 3px;
  left: 2px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 56px;
  width: 56px;
  background: white;
  z-index: 100; }

@-webkit-keyframes diagramm {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
    z-index: 1000; }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes diagramm {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
    z-index: 1000; }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.section-footer__link {
  font: 10px 'PT Sans Caption', "sans-serif";
  letter-spacing: .4em;
  color: #4c4c4c;
  position: relative; }
  .section-footer__link--left:before {
    content: "";
    position: absolute;
    margin-top: -8px;
    left: -30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #4c4c4c;
    background: url(../../img/left_arrow.svg) center no-repeat;
    background-size: 20px 20px; }
  .section-footer__link--right:after {
    content: "";
    position: absolute;
    margin-top: -8px;
    right: -30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #4c4c4c;
    background: url(../../img/right_arrow.svg) center no-repeat;
    background-size: 20px 20px; }

.body {
  background: #FCFAF7; }
