@import "mix-var.scss";


//HEADER

.head-section {
  height: 500px;
  width: 100%;
  box-sizing: border-box;
}
.title-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 150px;
  box-sizing: border-box;
  width: 100%;
}
.page-title {
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 65px;
  box-sizing: border-box;
}
.title-links {
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  &__item{
    height: 33px;
    box-sizing: border-box;
    margin-right: 30px;
    padding-left: 40px;
    padding-top: 5px;
    &:last-child {
      margin-bottom: 15px;
      margin-top: 4px;
    }
  }
}
.date-filter {
  box-sizing: border-box;
  height: 180px;
  width: 100%;
  &__year-selector {
    height: 110px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
  }
  &__month-selector {
    height: 70px;
    box-sizing: border-box;
    width: 100%;
  }
}
.month-wrapper {
  width: 100%;
  height: 39px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.year-selector__item {
  height: 100%;
  display: block;
  box-sizing: border-box;
  width: 100px;
  text-align: center;
  padding-top: 40px;
}
.year-active {
  position: absolute;
  left: calc(50% - 100px);
  padding-top: 15px;
  width: 200px;

}
.year-active + li {
  margin-left: 30%;
}

.month-selector__link {
  position: relative;
  width: 100%;
  height: 33px;
  box-sizing: border-box;
  display: block;
  padding-top: 6px;
}
.month-selector__item {
  width: 87px;
  height: 33px;
  text-align: center;
  box-sizing: border-box;
}
.building-plan-img {
  width: 100%;
  height: 170px;
  box-sizing: border-box;
}


//GALLERY

.section-gallery {
  width: 100%;
}
.gallery-wrap {
  box-sizing: border-box;
  margin: 0 150px 0 170px;
}


.title-w {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  left: 50%;
}


.gallery__head {
  height: 110px;
  box-sizing: border-box;
  &-title {
    padding-top: 40px;
    display: inline-block;
    height: 110px;
    box-sizing: border-box;
    position: relative;
    left: -50%;
  }
  &-diagramm {
    position: absolute;
    display: block;
    box-sizing: border-box;
    height: 100%;
    left: 100%;
    top: 0;
    padding-top: 45px;
  }
}
.gallery-description {
  width: 550px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 110px;
  text-align: center;
  padding-top: 10px;
}
.gallery-collection {
  width: 100%;
  box-sizing: border-box;
  &__item {
    box-sizing: border-box;
    margin-right: -4px;
    padding: 0 20px 20px 0;
    width: 25%;
    display: inline-block;
  }
}