.page-title {
  font: 19px 'PT Sans Caption', sans-serif;
  font-weight: bold;
  letter-spacing: .4em; }

.title-links {
  font: 15px 'PT Sans', sans-serif;
  letter-spacing: .1em; }

.date-filter__month-selector {
  font: 15px 'PT Sans', sans-serif; }
