.gallery__head-title {
  font: 28px 'PT Sans Caption', "sans-serif";
  font-weight: bold; }

.gallery__head-diagramm {
  display: inline-block;
  font: 10px 'PT Sans Caption', "sans-serif";
  font-weight: normal;
  letter-spacing: .4em; }

.gallery-description {
  font: 15px 'PT Sans', 'sans-serif'; }

.gallery-video {
  position: relative; }

.gallery-video:after {
  content: "";
  background: rgba(30, 28, 27, 0.7) url(../../img/triangle.svg) no-repeat center;
  background-size: 25% 25%;
  position: absolute;
  height: 98%;
  width: 100%;
  top: 0;
  left: 0; }

.diagramm {
  position: absolute;
  left: -60px;
  top: 28px;
  height: 58px;
  width: 58px; }

.percent {
  font: 15px "PT Sans Caption", sans-serif;
  color: #3F3F3F;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
  left: 15px; }

.circle {
  position: relative;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden; }

circle {
  fill: transparent;
  stroke: #D8D8D8;
  stroke-width: 2;
  stroke-dasharray: 176px 176px; }

circle:nth-child(2n) {
  fill: transparent;
  stroke: #EC3227;
  stroke-width: 2; }
